# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.DS_Store
pubspec_overrides.yaml
.idea
.vscode
*.iml
.flutter-plugins-dependencies
.flutter-plugins
build
**/doc/api
.build

# Shared assets
assets/*
# exception to the rule
!assets/.gitkeep

# Web assets
powersync_db.worker.js
powersync_db.worker.js*
sqlite3.wasm
sqlite3mc.wasm
powersync_sync.worker.js
powersync_sync.worker.js*

#Core binaries
*.dylib
*.dll
*.so
