name: trelloappclone_flutter
description: A Flutter clone of Trello.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.3+1

environment:
  sdk: ^3.4.0

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.5
  google_fonts: ^6.1.0
  flutter_expandable_fab: ^2.0.0
  material_design_icons_flutter: ^7.0.7296
  crypto: ^3.0.3
  provider: ^6.0.5
  status_alert: ^1.0.1
  image_picker: ^1.0.4
  file_picker: ^6.1.1
  random_name_generator: ^1.2.0
  flutter_dotenv: ^5.1.0
  logging: ^1.1.1
  powersync: ^1.10.0
  sqlite_async: ^0.11.0
  path_provider: ^2.0.12
  supabase_flutter: ^2.8.2
  path: ^1.8.2

dev_dependencies:
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/landing.jpg
    - assets/trello-logo.png
    - .env
