# This triggers whenever a tagged release is pushed
name: Compile Assets and Create Draft Release

on:
  push:
    tags:
      - 'powersync-v[0-9]+.[0-9]+.[0-9]+'

# For trusted npm publishing, see https://docs.npmjs.com/trusted-publishers#github-actions-configuration
permissions:
  id-token: write
  contents: read

jobs:
  setup:
    uses: ./.github/workflows/prepare_wasm.yml

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - uses: ./.github/actions/prepare

      - name: Create Draft Release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          tag="${{ github.ref_name }}"
          version="${tag#powersync-v}"
          changes=$(awk "/## $version/{flag=1;next}/##/{flag=0}flag" packages/powersync/CHANGELOG.md)
          body="Release $tag
          $changes"
          gh release create "$tag" --title "$tag" --notes "$body"
          gh release upload "${{ github.ref_name }}" packages/powersync/assets/powersync_db.worker.js packages/powersync/assets/powersync_sync.worker.js packages/sqlite3_wasm_build/dist/*.wasm
